.blog-container {
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#blog-details {
    color: orangered;
}

.blog-content {
    padding-left: 20px;
    padding-right: 20px;
    background-color: lightgray;
}

.topic-image {
    width: 100%;
}

.captions {
    color: navy
}

.card {
    display:flex;

}

.form-div {
    display: grid;
    grid-area: auto;
}

.cards-container {
    display: flex;
}

.blog-card {
    margin: 20px;
}

.card-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.card-title {
    text-align: center;
}

.author-info {
    align-self: center;
}

.avatar {
    width: 20%;
}

.social {
display: block;
    width: 100px;
    margin: auto;
}

.social-links {
    color: orangered;
}

@media(max-width: 412px) {
        .cards-container {
            display: flex;
            flex-direction: column;
        }
        .card{
            display: flex;
            flex-direction: column;
        }
}
