.blog-container {
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#blog-details {
    color: orangered;
}

.blog-content {
    padding-left: 20px;
    padding-right: 20px;
    background-color: lightgray;
}

.topic-image {
    width: 50%;
}

.captions {
    color: navy
}

.card {
    display:flex;

}

.form-div {
    display: grid;
    grid-area: auto;
}