.blog-container {
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#blog-details {
    color: orangered;
}

.blog-content {
    padding-left: 20px;
    padding-right: 20px;
    background-color: lightgray;
}